    - -regtest
    - -printtoconsole
    - -server=1
    - -debug=net
    - -rpcallowip=0.0.0.0/0
    - -rpcbind=0.0.0.0
    - -rpcuser={RPCUSER}
    - -rpcpassword={RPCPASSWORD}
    - -fallbackfee=0.00001
    - -maxconnections={MAXCONNECTIONS}
    - -listen=1
    - -rpcport={RPCPORT}
    - -port={P2PPORT}
{ADDNODE}
    - -conf=/run/configs/bitcoin_conf