{SERVICENAME}:
    image: ruimarinho/bitcoin-core:24.0.1
    container_name: {NODENAME}
    environment: 
      RPC_USER: {RPCUSER}
      RPC_PASS: {RPCPASSWORD}
    command:
{COMMANDS}
    ports:
    - "{RPCPORT}:{RPCPORT}"
    - "{P2PPORT}:{P2PPORT}"
    volumes:
    - {LOGSPATH}:/logs
    networks:
    - bitcoin-net
    configs:
    - source: bitcoin_conf
      target: /run/configs/bitcoin_conf